In [1]:
import pandas as pd
# import sqlite3

## Creación de tablas

#### Usuarios

In [3]:
usuarios = pd.read_csv('../local/database/usuarios.csv')
usuarios.head()

,id_usuario,nombre_usuario,altura,peso,edad,sexo,nivel_actividad_fisica,id_plan_nutricional
0,1,Juan Perez,"1,75",70,30,Masculino,Moderado,1
1,2,Ana Gomez,"1,6",60,25,Femenino,Alto,2
2,3,Carlos Lopez,"1,8",80,35,Masculino,Bajo,3
3,4,María Rodriguez,"1,65",55,28,Femenino,Moderado,1
4,5,José Fernandez,"1,7",65,40,Masculino,Alto,2

#### Comidas

In [4]:
comidas = pd.read_csv('../local/database/Comidas.csv')
comidas.head()

   id_comida          nombre_comida  calorias  proteinas  carbohidratos
0          1  Tostadas con Aguacate       250          5             30
1          2       Batido de Frutas       200          2             45
2          3      Yogur con Granola       180          6             25
3          4       Avena con Frutas       150          5             27
4          5             Huevo Duro        70          6              1

#### Historial de Comidas

In [5]:
historial_comidas = pd.read_csv('../local/database/Historial_Comidas.csv')
historial_comidas.head()

   id_registro  id_usuario  id_comida fecha_hora_consumo  cantidad_consumida
0            1          10          2          30/5/2024                   3
1            2           6          6          20/3/2024                   2
2            3          45         17           3/1/2024                   1
3            4          17         13           8/5/2024                   1
4            5           7         10           2/3/2024                   2

#### Planes Nutricionales

In [6]:
planes_nutricionales = pd.read_csv('../local/database/Planes_Nutricionales.csv')
planes_nutricionales.head()

   id_plan       objetivo
0        1    Perder Peso
1        2  Mantener Peso
2        3     Subir Peso

## Conexión con BigQuery

In [2]:
# Generamos conexion a BQ
from google.oauth2 import service_account # para generar conexion con BigQuery
#bq_cred = service_account.Credentials.from_service_account_file('../local/tokens/gcp_token2.json')
bq_cred = service_account.Credentials.from_service_account_file('../local/tokens/gcp_token_clase.json')

bq_cred

## Cargar Datos en BQ

In [7]:
# Enviamos el df a BQ - Podemos crear o reemplazar una tabla
import pandas_gbq # para interactuar con BQ

#### Usuarios

In [53]:
pandas_gbq.to_gbq(usuarios, 'TablasVSC.Usuarios', project_id= 'nastri-lorenzo-examen',
                   if_exists= 'replace', credentials = bq_cred)

100%|██████████| 1/1 [00:00<00:00, 8050.49it/s]

#### Comidas

In [54]:
pandas_gbq.to_gbq(comidas, 'TablasVSC.Comidas', project_id= 'nastri-lorenzo-examen',
                   if_exists= 'replace', credentials = bq_cred)

100%|██████████| 1/1 [00:00<00:00, 19972.88it/s]

#### Historial de Comidas

In [55]:
pandas_gbq.to_gbq(historial_comidas, 'TablasVSC.Historial_Comidas', project_id= 'nastri-lorenzo-examen',
                   if_exists= 'replace', credentials = bq_cred)

100%|██████████| 1/1 [00:00<00:00, 11781.75it/s]

#### Planes Nutricionales

In [56]:
pandas_gbq.to_gbq(planes_nutricionales, 'TablasVSC.Planes_Nutricionales', project_id= 'nastri-lorenzo-examen',
                   if_exists= 'replace', credentials = bq_cred)

100%|██████████| 1/1 [00:00<00:00, 20460.02it/s]